/* some of the code are from my instructor Jeff
*   Thanks Jeff
*/

@charset "utf-8";
/* ------ Fonts ------ */
@import url("font.css");
@import url("normalize.css");

html {
    font-size:16px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    
    --theme-color:rgb(222, 90, 67);
    --theme-color-transparent:rgba(222, 90, 67, .25);    
    --second-color:rgb(206, 209, 42);    
    --second-color-transparent:rgba(206, 209, 42, 0.25);
    
    
    --dark-color:#242424;             
    --light-color:rgb(245, 245, 245); 
    --code-color:rgb(233, 233, 233);  
    --bad-color:rgb(85, 0, 0);        
    --good-color:rgb(22, 75, 22);     

    
    --heading-font-face:"leaguespartan-bold-webfont";
    --block-text-font-face:"fira_sansregular";
}
body {
    margin: 0;
    font-family: var(--block-text-font-face), 'Verdana', sans-serif;        
    background: var(--dark-color);
    background: linear-gradient(to right, var(--dark-color) 0%,
                                        rgb(0, 0, 0) 20%,
                                        rgb(0, 0, 0) 80%,
                                        var(--dark-color) 100%); 
    color:var(--dark-color);
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font-face), 'Helvetica', sans-serif;
    letter-spacing:3px;
}
h2, h3, h4, h5, h6{
    text-shadow: 0.5px 0.5px 0px var(--second-color);
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}
p,li {    
    line-height: 1.5rem;
    font-size: 1rem;
}
ul, ol{
    margin:16px 0px;
}

a:hover, a:focus{
    border-bottom: solid 1px var(--theme-color);
	text-decoration:none;   
}
a:active{
    color:var(--theme-color);
}

header{
    background-image:url('../images/code-back.png');
    background-repeat: no-repeat;
    background-position: right;
}
.header {
    padding: 10px 16px;
    color: var(--light-color);
    background-color: var(--theme-color);
}

footer{
    background-image:url('../images/code-back.png');
    background-repeat: no-repeat;
    background-position: right;
}
.footer {
    padding: 10px 16px;
    color: var(--light-color);
    background-color: var(--theme-color);
}
main {
    padding: 20px;
    flex: 1;
}
section{
    border:solid 1px var(--dark-color);
    border-radius:10px;
    padding:10px;
    margin:20px 0px;
}
.thumbsUp:before{    
    content:"\1F44D";
    margin-right:5px;
    text-shadow: 3px 3px 2px var(--good-color);    
}
.thumbsDown:before{    
    content:"\1F44E";
    margin-right:5px;
    text-shadow: 3px 3px 2px var(--good-color);    
}
.goodBox{
    padding: 1px;
    background-color: rgb(195, 233, 195);    
    border-radius: 8px;;
    border:solid 1px var(--good-color);    
    box-shadow: 0px 0px 0px 2px var(--theme-color); 
}
.goodBox:before{    
    margin-left:5px;
    content:"\1F44D";
    margin-right:5px; 
}
.badBox{
    padding: 1px;
    background-color: #ffcece;    
    border-radius: 8px;;
    border:solid 1px var(--good-color);    
    box-shadow: 0px 0px 0px 2px var(--theme-color); 
}
.badBox:before{    
    margin-left:5px;
    content:"\1F44E";
    margin-right:5px; 
}
.warning {      
    padding: 16px;
    background-color: #ffcece;    
    border-radius: 9px;;
    border:solid 1px var(--bad-color);    
    box-shadow: 0px 0px 0px 4px var(--theme-color);      
}
.warning:before{
    content:"\2755 Warning ";
    font-weight: bold;
    border:solid 2px var(--bad-color);
    padding:5px 2px 2px 2px;
    margin-right:4px;
    border-radius:5px;
    background-color: white;
    color:var(--bad-color);
}
code {
    background-color: var(--code-color);
    font-weight: bold;
    font-size:1.1em;
    padding:0px 5px;
    border:dotted 1px var(--dark-color);
}
pre code{
    padding:0px;
    border:0px;
}

.section-bordered{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border:solid 1px var(--theme-color);
    flex-direction: column;
    max-width: 200px;
}
.number-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.number-input input {
    width: 50px
}

.cardImage {
    width: 80;
    height: 120;
    position: absolute;
}
.card-stack {  
    perspective: 1000px;  
    position: relative;  
    width: 80px; 
    height: 120px; 
}  
.card {  
    position: absolute;  
    width: 100%;  
    height: 100%;  
}

.gridboxed{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr;
}
.flexboxed{
    display: flex;
    flex-direction: column;
}
.gridboxed section, .flexboxed section{
    margin:0px;
}


.diceImage {
    width: 100px;
    height: auto;    
}


#wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px black;;
}


@media (min-width:600px){
    .gridboxed{
        grid-template-columns: 1fr 1fr;
    }
    .flexboxed{        
        flex-direction: row;
    }
}


